.navbar-toggler{
  float: right;
  margin: 10px;
  font-size: x-large;
  display: none;
  z-index: 2000;
}

.navbar{
  z-index: 1000;
  background: black;
  height: fit-content;
}

.show{
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: auto;
  color: white;
  width: 70%;
}

.navbar-nav li {
  list-style: none;
  margin: 2rem 1rem ;
  cursor: pointer;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 720px){
  .navbar-toggler{
    display: block;
  }
  .navbar-nav{
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  .navbar-nav li{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 720px){
  .navbar-collapse{
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
  }


}
