#terminal{
  margin: auto;
  display: flex;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 720px) {
  #terminal{
    border: none;
    overflow-y: auto;
  }
}
