/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Source+Code+Pro&display=swap');

body{
  background: #000000;
  color: yellowgreen;
  font-family: 'Source Code Pro', sans-serif;
  padding-top: 5rem;
}

body::-webkit-scrollbar {
  background-color:#fff;
  width:8px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: black;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
  border-radius:16px;
  border:2px solid #fff
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

#terminal{
  border: white;
  line-height: 2.5rem;
}

@media screen and (max-width: 720px){
  body{
    overflow-y: auto;
  }
}

