*{
  background: transparent;
}

.prompt{
  color: greenyellow;
}

pre{
  background: black;
  color: greenyellow;
  border: 0;
}

.help{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#outputContainer .output a, #outputContainer .output span {
  color: greenyellow;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none !important;
}

.skills-wrapper{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

textarea{
  height: auto;
}

hr{
  width: 10rem;
}


.row{
  margin: 0;
}

app-home{
  width: 100%;
}

#commandWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}


#commandWrapper > label {
  float: left;
}

#commandWrapper > div {
  width: -webkit-fill-available;
  width: -moz-available;
  overflow: hidden;
}

#command {
  border: none;
  width: 100%;
}
#command:focus{
  outline: none;
}

#outputContainer > .input{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#outputContainer > .input > .command {
  width: 100%;
}

app-home{
  position: relative;
}

@media screen and (max-width: 720px){
  *{
    font-size: 12px;
  }

  .skills-wrapper{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  pre{
    display: none;
  }

}
