*{
  background: transparent;
}

.prompt{
  color: greenyellow;
}

pre{
  background: black;
  color: greenyellow;
  border: 0;
}

.help{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#outputContainer .output a, #outputContainer .output span {
  color: greenyellow;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none !important;
}

.skills-wrapper{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

textarea{
  height: auto;
}

hr{
  width: 10rem;
}


.row{
  margin: 0;
}

app-home{
  width: 100%;
}

#commandWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}


#commandWrapper > label {
  float: left;
}

#commandWrapper > div {
  width: -webkit-fill-available;
  width: -moz-available;
  overflow: hidden;
}

#command {
  border: none;
  width: 100%;
}
#command:focus{
  outline: none;
}

.badge{
  background: white;
  color: black !important;
  margin-left: 1rem;
}

#outputContainer > .input{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#outputContainer > .input > .command {
  width: 100%;
}
.typewriter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: none; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



app-home{
  position: relative;
}

@media screen and (max-width: 720px){
  *{
    font-size: 12px;
  }

  .skills-wrapper{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  pre{
    display: none;
  }

}
