<div class="container">
  <div class="row" id="outputContainer">
    <div>
      <div class="row input" >
        <span class="prompt"> {{outputContainer.prompt}} {{ outputContainer.command}}</span>
      </div>
      <div class="row">
        <div class="output" [innerHTML]="outputContainer.result"> </div>
      </div>
    </div>
    <div  *ngIf="show" class="init">
      <pre>
        ##    ## ####  ######  ##     ##    ###    ##    ## ########    ##    ## ##     ## ##     ##    ###    ########
        ###   ##  ##  ##    ## ##     ##   ## ##   ###   ##    ##       ##   ##  ##     ## ###   ###   ## ##   ##     ##
        ####  ##  ##  ##       ##     ##  ##   ##  ####  ##    ##       ##  ##   ##     ## #### ####  ##   ##  ##     ##
        ## ## ##  ##   ######  ######### ##     ## ## ## ##    ##       #####    ##     ## ## ### ## ##     ## ########
        ##  ####  ##        ## ##     ## ######### ##  ####    ##       ##  ##   ##     ## ##     ## ######### ##   ##
        ##   ###  ##  ##    ## ##     ## ##     ## ##   ###    ##       ##   ##  ##     ## ##     ## ##     ## ##    ##
        ##    ## ####  ######  ##     ## ##     ## ##    ##    ##       ##    ##  #######  ##     ## ##     ## ##     ##
      </pre>
      <div>
        <p class="help"> This is where you will find more about me and my work.
        </p>
      </div>
      <div class="help">
        <p>you can explore this website via these commands ( banner, info, experience, education, skills, projects, contacts)</p>
      </div>
    </div>
  </div>
  <div class="row" id="commandWrapper">
    <label class="prompt"> root@nishant&nbsp;~&nbsp; </label>
    <div>
      <input #command  id="command" >
    </div>
  </div>
</div>
